.button {
  color: white;
  border: none;
  border-radius: 7px;
  padding: 12px 24px;
  background-color: hsla(83, 100%, 37%, 1);
}

.button:hover {
  cursor: pointer;
  background-color: hsla(83, 100%, 18%, 1);
}