.white-text {
  color: #ffffff;
}

.addmember {
  margin-left: 145px;
  margin-top: 48px;
}

#orderform {
  background: #0c0e0f;
  color: #ffffff;
}
#order_h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}
.submit_btn {
  background: #75bd00;
  border-radius: 7px;
}
